<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">


	<bean id="dataSource"
	class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="org.gjt.mm.mysql.Driver"/>
		<property name="url" value="jdbc:mysql://localhost:3306/class03?useUnicode=true&amp;characterEncoding=utf8"/>
		<property name="username" value="scott"/>
		<property name="password" value="tiger"/>
		<!-- 
		<property name="minIdle" value=""/>
		<property name="maxIdle" value=""/>
		<property name="maxActive" value=""/>
		<property name="loginTimeout" value=""/>
		-->
	</bean>

	<bean id="jdbcTemplate"
	class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="sqlMapClient"
	class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:/sqlMapConfig.xml"/>
	</bean>
	
	<bean id="sqlMapClientTemplate"
	class="org.springframework.orm.ibatis.SqlMapClientTemplate">
		<property name="sqlMapClient" ref="sqlMapClient"></property>
	</bean>
	
	<bean id="transactionManager"
	class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<bean id="deptDao"
	class="com.bit.project02.dept.model.DeptDaoImpl2"/>

	<!-- 
	<context:annotation-config></context:annotation-config>
	 -->

	<bean
	class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
</beans>


