<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias alias="bean" type="com.bit.project02.dept.model.entity.DeptVo"/>
  </typeAliases>
  <mappers>
    <mapper resource="mybatis/DeptMapper.xml"/>
  </mappers>
</configuration>